[Unit]
Description=Mount NFS /share/apps
ConditionHost=issaf-0-*

[Mount]
What=10.99.99.1:/export/apps
Where=/share/apps
Type=nfs4
Options=bg,nofail,_netdev,ro,noatime,sync,vers=4.2,proto=tcp,hard,retry=3,retrans=5,timeo=50,rsize=1048576,wsize=1048576,acregmin=15,acregmax=90,acdirmin=90,acdirmax=120,nconnect=16,noresvport,nosuid,nodev
DirectoryMode=0755
TimeoutSec=45
LazyUnmount=true
SloppyOptions=true

[Install]
WantedBy=multi-user.target

